/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/

  --base-color: #f6f6ea;
  --accent-color: #cd0e5e;
  --dark-color: #464f93;

  /*========== Font and typography ==========*/
  --body-font: "Mulish", sans-serif;
  --biggest-font-size: 2rem;
  --small-font-size: 14px;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-medium: 500;
  --font-light: 300;

  /*========== Margins ==========*/
  --space-xsmall: 0.5rem;
  --space-small: 1rem;
  --space-medium: 1.5rem;
  --space-large: 2rem;
  --space-xlarge: 3rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background: var(--base-color);
  color: var(--dark-color);
  width: 100vw;
  min-height: 100vh;
  padding: 10vh 3vw;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 700px;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flexRowCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexRowStart {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/*=============== BASIC HEADER & FOOTER ===============*/
header {
  position: absolute;
  top: 10vh;
}

header h1 {
  font-size: 2rem;
  font-weight: var(--font-light);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer {
  position: absolute;
  bottom: 3vh;
}

footer p {
  font-size: var(--small-font-size);
}

/*=============== PROJECT RELATED ===============*/
h4 {
  font-size: 1.75rem;
  margin: 0.5rem;
  text-transform: uppercase;
}

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide 0.2s ease-out;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
}

.final.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show 0.7s ease-out;
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  30% {
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.nums {
  color: var(--accent-color);
  font-size: 3.5rem;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 50px;
}

.nums span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn 0.5s ease-in-out;
}

.nums span.out {
  animation: goOut 0.5s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(-25deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(25deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

#replay {
  background-color: var(--accent-color);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.05rem;
}

#replay span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#replay span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1rem;
  transition: 0.5s;
}

#replay:hover span {
  padding-right: 1.25rem;
}

#replay:hover span:after {
  opacity: 1;
  right: 0;
}

#player {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
#player.hidden {
  display: none;
}

/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (min-width: 1281px) {
}
