@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Overlock:wght@900&display=swap");

/*  BASIC STYLES AND RESETS **************************/
:root {
  --background-color: #3494e4;
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 1rem 0.5rem;
  background-color: var(--background-color);
  color: white;
}
/***************************************************/

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  min-height: calc(100vh - 2rem);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

header h1 {
  font-family: "Overlock", cursive;
  font-weight: 900;
  font-size: 46px;
}

header p {
  font-size: 18px;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cup {
  background-color: white;
  color: var(--border-color);
  border: 4px solid var(--border-color);
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 150px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cup.cup-small {
  height: 95px;
  width: 50px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: 0.3s ease;
}

.cup.cup-small.full {
  background-color: var(--fill-color);
  color: #fff;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 280px;
  margin-top: 1rem;
}

.instructions {
  margin-top: 2rem;
  text-align: center;
}

.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}

.remained span {
  font-size: 20px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
}

.percentage {
  background-color: var(--fill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 0.3s ease;
}

.text {
  text-align: center;
  margin: 0 0 5px;
}

/*  FOOTER STYLES  *********************************/
footer {
  display: flex;
  margin-top: 2rem;
}

footer p {
  font-size: 14px;
}

footer a,
footer a:visited,
footer a:active {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/**************************************************/
